body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 100px;
    width: 800px;
    background-color: lightseagreen;
    color: aliceblue;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    height: 500px;
}